<div id="show-content-container">
    <% if current_user&.admin? %>
        <div class="content-admin-panel">
            <% if @content.enable %>
                <%= link_to "<i class='fas fa-circle-xmark'></i>".html_safe, unpublish_path(@content), "data-turbo-prefetch": false %>
            <% else %>
                <%= link_to "<i class='fas fa-check'></i>".html_safe, publish_path(@content), "data-turbo-prefetch": false %>
            <% end %>
            <%= link_to "<i class='fas fa-pencil'></i>".html_safe, edit_content_path(@content), "data-turbo-prefetch": false %>
            <%= link_to "<i class='fas fa-trash'></i>".html_safe, @content, data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûrs de vouloir supprimer ce contenu ?' }, "data-turbo-prefetch": false %>
        </div>
    <% end %>
    <h4 class="text-center"><%= @content.name %></h4>
    <p class="text-center">Publié par : <%= @content.author %></p>
    <p class="text-center">----------------------</p>
    <div class="content-source-container">
        <% if @content.video?  %>
            <div class="trailer-movie-container">
                <iframe src="https://www.youtube.com/embed/<%= @content.source %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        <% elsif @content.img? %>
            <div class="image-container">
                <%= image_tag(@content.source) %>
            </div>
        <% else %>
            <div class="link-container">
                <%= link_to "<i class='fas fa-link'></i>".html_safe, @content.source %>
            </div>
        <% end %>
    </div>
    <div class="description-container">
        <%= @content.description %>
        <div class="d-flex justify-content-end">
            Publié le : <%= format_datetime(@content.created_at) %>
        </div>
    </div>
</div>
