<div id="devise-form_container" data-controller="register">
  <h2><% t(".sign_up") %></h2>
  <h1>MERCATOOLS</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :ally_code,
                  placeholder: "Code allié SWGOH",
                  label: false,
                  required: true,
                  autofocus: true,
                  input_html: { "data-register-target": "allyCodeField" } %>
      <%= f.input :discord_id,
                  placeholder: "Identifiant Discord",
                  label: false %>
      <%= f.input :email,
                  placeholder: "Email",
                  label: false,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  placeholder: "Mot de passe",
                  label: false,
                  required: true,
                  hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  placeholder: "Confirmation du mot de passe",
                  label: false,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <div class="btn btn-primary" data-action="click->register#verifyAllyCode" data-register-target="verifyBtn">Vérifier le code allié</div>
      <%= f.button :submit, "Créer le compte", class: "d-none", "data-register-target": "submitBtn" %>
    </div>
  <% end %>

  <% render "devise/shared/links" %>
</div>
